$primary-color: #7570b3;
$secondary-color: #1b9e77;
$stroke-color: #ddd;


/*
 * X and Y axis
 */
.axis  {

  path, line {
    fill: none;
    stroke: #ddd;
    shape-rendering: cripsEdges;
  }

  text {
    font: 0.8em sans-serif;
  }

}

/*
 * Bar for barchart
 */
.bar {
  fill: $primary-color;
  stroke: $stroke-color;

  &:hover {
    fill: $secondary-color;
  }
}

.label {
  fill: #000;
  font-size: 0.8rem;
}

/*
 * Tooltip
 */

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 28px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}