/*
 * X and Y axis
 */
.axis path, .axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: cripsEdges; }

.axis text {
  font: 0.8em sans-serif; }

/*
 * Bar for barchart
 */
.bar {
  stroke: #ddd; }
  .bar:hover {
    fill: #000; }

.label {
  fill: #ddd;
  font-size: 0.8rem; }

/*
 * Tooltip
 */
div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 15px;
  padding: 4px;
  font: 0.8rem sans-serif;
  background: #000;
  border: 0px;
  pointer-events: none;
  color: #fff; }
