$primary-color: #7570b3;
$secondary-color: #1b9e77;
$stroke-color: #ddd;


/*
 * X and Y axis
 */
.axis  {

  path, line {
    fill: none;
    stroke: #ddd;
    shape-rendering: cripsEdges;
  }

  text {
    font: 0.8em sans-serif;
  }

}

/*
 * Bar for barchart
 */
.bar {
  fill: $primary-color;
  stroke: $stroke-color;

  &:hover {
    fill: $secondary-color;
  }
}

.label {
  fill: #ddd;
  font-size: 0.8rem;
}

/*
 * Tooltip
 */

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 100px;          
    height: 15px;         
    padding: 4px;       
    font: 12px sans-serif; 
    background: $secondary-color; 
    border: 0px;       
    pointer-events: none;    
    color: #fff; 
}